/*questo selettore avanzato viene utilizzato per definire le variabili CSS globali e rappresenta l'elemento radice del documento, un pò come scrivere html{} ma con un peso maggiore*/
:root {
    /*Spacing*/

    /*la sintassi qui sotto è anche chiamata "custom property"*/

    --spacing-zero: 0;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    /*Typography*/

    /*MAI USARE I PIXEL PERCHE' IL TESTO DEVE POTER ESSERE ZOMMATO PER L'ACCESSIBILITA'*/

    /*https://fluid.style/type?min=2.25&max=4.5&min-bp=20&max-bp=77.5&unit=%22rem%22 usa questo sito per vedere se il tuo testo è accessibile

    tool per creare scale tipografiche:
    https://www.modularscale.com/ la ratio è di quanto aumenta ad ogni passaggio quidi se parti da 1 rem e poi metti una ratio di 1.25 allora 1.25 rem sarà il tuo secondo passo ovvero 1 x 1.25 e così via.*/

    /*conversione da rem a  px : 16 = rem  e rem x 16 = px*/

    --font-size-hero: clamp(3.815rem, 3.573rem + 0.97vw, 4.3rem);
    --font-size-h1: clamp(2.896rem, 2.437rem + 1.838vw, 3.815rem);
    --font-size-h2: clamp(2.488rem, 2.207rem + 1.128vw, 3.052rem);
    --font-size-h3: clamp(2.074rem, 1.89rem + 0.734vw, 2.441rem);
    --font-size-h4: clamp(1.728rem, 1.616rem + 0.45vw, 1.953rem);
    --font-size-h5: clamp(1.44rem, 1.378rem + 0.246vw, 1.563rem);
    --font-size-h6: clamp(1.25rem, 1.225rem + 0.1vw, 1.3rem);
    --font-size-body: 1rem;
    --font-size-sm:0.875rem;
    --font-size-xs:0.75rem; 


    /*Colors*/

    /*OKLCH Lumance Chroma Hue*/
    --hue-red: 25;
    --hue-pink: 350;
    --hue-purple: 310;
    --hue-violet: 290;
    --hue-indigo: 270;
    --hue-blue: 240;
    --hue-cyan: 210;
    --hue-teal: 185;
    --hue-green: 145;
    --hue-lime: 125;
    --hue-yellow: 100;
    --hue-orange: 75;

    --color-gray-0: oklch(99% 0.025 var(--hue-indigo));
    --color-gray-1: oklch(95% 0.025 var(--hue-indigo));
    --color-gray-2: oklch(88% 0.025 var(--hue-indigo));
    --color-gray-3: oklch(74% 0.025 var(--hue-indigo));
    --color-gray-4: oklch(68% 0.025 var(--hue-indigo));
    --color-gray-5: oklch(63% 0.025 var(--hue-indigo));
    --color-gray-6: oklch(58% 0.025 var(--hue-indigo));
    --color-gray-7: oklch(53% 0.025 var(--hue-indigo));
    --color-gray-8: oklch(49% 0.025 var(--hue-indigo));
    --color-gray-9: oklch(43% 0.025 var(--hue-indigo));
    --color-gray-10: oklch(37% 0.025 var(--hue-indigo));
    --color-gray-11: oklch(31% 0.025 var(--hue-indigo));
    --color-gray-12: oklch(25% 0.025 var(--hue-indigo));
    --color-gray-13: oklch(18% 0.025 var(--hue-indigo));
    --color-gray-14: oklch(15% 0.025 var(--hue-indigo));
    --color-gray-15: oklch(10% 0.025 var(--hue-indigo));

    --color-green-0: oklch(99% 0.03 var(--hue-green));
    --color-green-1: oklch(95% 0.06 var(--hue-green));
    --color-green-2: oklch(88% 0.12 var(--hue-green));
    --color-green-3: oklch(74% 0.14 var(--hue-green));
    --color-green-4: oklch(68% 0.16 var(--hue-green));
    --color-green-5: oklch(63% 0.19 var(--hue-green));
    --color-green-6: oklch(58% 0.2 var(--hue-green));
    --color-green-7: oklch(53% 0.21 var(--hue-green));
    --color-green-8: oklch(49% 0.2 var(--hue-green));
    --color-green-9: oklch(43% 0.19 var(--hue-green));
    --color-green-10: oklch(37% 0.17 var(--hue-green));
    --color-green-11: oklch(31% 0.16 var(--hue-green));
    --color-green-12: oklch(25% 0.12 var(--hue-green));
    --color-green-13: oklch(18% 0.09 var(--hue-green));
    --color-green-14: oklch(15% 0.06 var(--hue-green));
    --color-green-15: oklch(10% 0.03 var(--hue-green));
    
    --color-red-1: oklch(95% 0.06 var(--hue-red));
    --color-red-2: oklch(88% 0.12 var(--hue-red));
    --color-red-3: oklch(74% 0.14 var(--hue-red));
    --color-red-4: oklch(68% 0.16 var(--hue-red));
    --color-red-5: oklch(63% 0.19 var(--hue-red));
    --color-red-6: oklch(58% 0.2 var(--hue-red));
    --color-red-7: oklch(53% 0.21 var(--hue-red));
    --color-red-8: oklch(49% 0.2 var(--hue-red));
    --color-red-9: oklch(43% 0.19 var(--hue-red));
    --color-red-10: oklch(37% 0.17 var(--hue-red));
    --color-red-11: oklch(31% 0.16 var(--hue-red));
    --color-red-12: oklch(25% 0.12 var(--hue-red));
    --color-red-13: oklch(18% 0.09 var(--hue-red));
    --color-red-14: oklch(15% 0.06 var(--hue-red));
    --color-red-15: oklch(10% 0.03 var(--hue-red));


    --color-positive-bcg: light-dark(var(--color-green-1),(--color-green-12));
    --color-positive-text:light-dark(var(--color-green-12), var(--color-green-3)) ;
    --color-positive-accent:light-dark(var(--color-green-6), var(--color-gray-8)) ;
    
     --color-negative-bcg:light-dark(var(--color-red-1), var(--color-red-12)) ;
    --color-negative-text:light-dark(var(--color-red-9), var(--color-red-3)) ;
    --color-negative-accent:light-dark(var(--color-red-6), var(--color-red-8)) ;

     --color-neutral-bcg:light-dark(var(--color-gray-0), var(--color-gray-12));
    --color-neutral-text:light-dark(var(--color-gray-12), var(--color-gray-1)) ;
    --color-neutral-accent:light-dark(var(--color-gray-7), var(--color-gray-5)) ;

    /*timing*/
    --timing: 1s;
    --timing-fast: calc(var(--timing) * 0.15);
    --timing-slow: calc(var(--timing) * 2);

    @media (prefers-reduced-motion: reduce) {
        --timing: 0s;
    }
}
